*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.body{
    background: black;
}
.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px 8%;
}
h1{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    margin:40px 0;
    text-align:center;  
    color: rgb(101, 101, 224);
} 
h1::before{
    content:'';
    position:absolute;
    width:100px;
    height:3px;
    background-color:goldenrod;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    animation:animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width:100px;
    }
    50%{
        width:200px;
    }
    100%{
        width:100px;
    }
}
.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
    margin-top: -20px;
    transition: 0.5s;
}
.gallery img{
    width:100%;
}
.gallery img:hover{
   transform:scale(1.15);
   z-index: 0.5;
}

